---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Panorama from "../components/Panorama.astro";
import Card from "../components/Card.astro";

const posts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Home">
  <Navbar />
  <div class="fade-in-image transition-all ease-in">
    {
      posts
        .slice(0, 1)
        .map((post, index) => (
          <Panorama
            img={post.frontmatter.image.url}
            link={"/blog/posts/" + post.frontmatter.slug}
          />
        ))
    }
  </div>
  <h2>Newest Posts</h2>
  <div class="grid grid-cols-3">
    {
      posts.slice(1, 4).map((post) => (
        <a href={"/blog/posts/" + post.frontmatter.slug}>
          <Card
            title={post.frontmatter.title}
            desc={post.frontmatter.description}
            img={post.frontmatter.image.url}
            date={post.frontmatter.pubDate}
          />
        </a>
      ))
    }
  </div>
</Layout>
